/.metadata/
# Prerequisites
*.d
*.bak
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#Vitis temporary files
SensorFusion_system/_ide
zyboProject/
RemoteSystemsTempFiles
.analytics
HWFILE/*
!HWFile/ZyboZ7_design_wrapper.xsa
!HWFile/ZyboZ7_design_wrapper.bit


